@keyframes slideDown {
	0% {
		transform: translateY(-15px);
		opacity: 0;
	}
	
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(15px);
		opacity: 0;
	}
	
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}