
#container {
    background-color: rgba(255, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#error-body {

    animation: 0.5s ease-out 0s 1 slideUp;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    margin: 20px;
    font-size: 130%;
}

#error-body h1 {
    text-align: center;
    color: red;
}