body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    animation: 0.5s ease-in 0s 1 appear;

    flex: 1;

    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

#menu-buttons {

    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 400px));
    grid-gap: 20px;
    justify-content: space-between;
}

#container button {
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	font-size: 110%;
	/*font-weight: bold;*/
	border: none;
	border-radius: 10px;
	background-color: white;
    box-shadow: inset 0 0 15px 0px black;
    
    padding: 10px 0;

    box-sizing: border-box;
    max-width: 100%;
}

#container button:hover:enabled {
	background-color: MediumTurquoise;
	cursor: pointer;
}

#container button:disabled {
    background-color: gray;
    color: lightgray;
    opacity: 0.5;
}

#container button img {
    width: 100px;
    max-width: 35%;
}

#container button:disabled img {
    /*opacity: 0.5;*/
}

#admin-button {
    grid-column: 1 / 3;
}


#currentTemplateDiv {
    grid-column: 1 / 3;
}

#currentTemplateDiv select{
    width: 100%;
}

.flex-filler {
    min-height: 20px;
}

@media (max-width: 600px) {

    #admin-button {
        grid-column: 1;
    }

    #menu-buttons {
        grid-template-columns: 100%;
    }
}