html, body, h1 {
    margin: 0;
    padding: 0;
}

html, body, h {
    height: 100%;
}

html {
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-attachment: fixed;

    --hover-background-color: #6bd9dd;
    --default-background-color: lightgray;

    --table-header-background-color: LightSlateGray;
    --table-header-color: white;
    --table-background-color: white;
    --no-items-color: gray;
}

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;
}

input, select {
    font-size: 100%;
}

input {
    /*padding-left:0.5em;*/
    padding: 0.3em 0.5em;
    border-radius: 0.5em;

    min-width: 30px;

    border: 1px solid gray;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);

    background-position:
    calc(100% - 5px - .75em) 50%,
    calc(100% - 5px - .75em + .4em) 50%,
    calc(100% - 5px) 50%;

    background-size:
    .4em .4em,
    .4em .4em,
    1.5em 1.5em;

    
    background-repeat: no-repeat;

    padding: 5px 40px 5px 10px;
    border-radius: 0.5em;
    
}

table, td{
	background-color: var(--table-background-color);
}

.normal-button {
    padding: 10px 20px;
    font-size: 100%;
    border-radius: 5px;

    box-sizing: border-box;
}

.normal-button:hover {
    background-color: var(--hover-background-color);
	cursor: pointer;
}

.flex-filler {
    flex: 1;
}

.td-delete {
    width: 1%;
    border-left-style: hidden!important;
}

.delete-button {
    padding: 0;
    text-align: center;
    /*visibility: hidden;*/
    font-size: 100%;
    height: 35px;
    width: 35px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.delete-button:hover {
    background-color: darkred;
    cursor: pointer;
}

.add-new-button {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    height: 35px;
    width: 35px;
    background-color: LimeGreen;
    color: white;
    border-radius: 10px;
}

.add-new-button:hover {
    background-color: darkgreen;
    cursor:pointer;
}

textarea {
    border-radius: 15px;
    padding: 15px;
    font-size: 100%;
}