
#container {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

#prolog-names, #prolog-worker {
    height: 700px;

    background-color: var(--default-background-color);

    border-radius: 15px;
    box-shadow: 0 0 10px 0 black;

    padding: 15px;

    overflow: hidden;
}

#prolog-names h1, #prolog-worker h1 {
    text-align: center;
    background-color: var(--table-header-background-color);
    margin: -15px;
    margin-bottom: 15px;
    padding: 15px;
    hyphens: auto;
}

.flex-filler {
    width: 100%;
    min-height: 20px;
}

h3 {
    text-align: center;
    margin: 10px;
}

#prolog-data, #prolog-db {
    background-color: white;
    height: 200px;
    overflow-y: scroll;

    box-shadow: inset 0 0 15px 0 black;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;

    hyphens: auto;
    /*   
    font-size: 120%;
    line-height: 150%;
   */

}

#prolog-db {
    resize: none;
    width: 100%;
}

#prolog-names button{
    width: 100%;
}

#prolog-names *:not(:last-child) {
    margin-bottom: 15px;
}

#prolog-input {
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;
}

#prolog-input input {
    flex: 1;
    max-width: 80%;
}

#prolog-input button {
    padding: 15px;
    margin-left: 15px;
}

#prolog-output textarea {
    /*flex: 1;*/
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    /*margin: 15px;*/
}

/*



#data-container {

    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}






#prolog-output {
    width: 100%;
    display: flex;
    flex-direction: column;
}

*/