@keyframes slideRight {
	0% {
		transform: translateX(-5%);
		opacity: 0;
	}
	
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(5%);
		opacity: 0;
	}
	
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

html {
	min-height: 100vh;
}

body {
	background-image: url("../img/back.jpg");
	background-position: center;
	background-size: cover;
}

#container {
	margin: auto;
	max-width: 95%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

#leftside header, #rightside header {
	/*background-color: MediumTurquoise;*/
	background: linear-gradient(0deg, MediumTurquoise, CadetBlue);
	box-shadow: 0 5px 20px 0px black;
	margin: 0 -15px 20px -15px;
	padding: 15px;
}

h2 {
	text-align: center;
	line-height: 100%;
	margin: 0;
	
}

#leftside, #rightside {
	flex: 1;
	background-color: white;
	height: 90%;
	max-width: 47%;
	padding: 0 15px;
	box-shadow: 0 0px 10px 2px black;
}

#leftside {
	animation: 1s ease-out 0s 1 slideRight;
	overflow-y: scroll;
}


#rightside {
	animation: 1s ease-out 0s 1 slideLeft;
}

#leftside table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid black;
}

#leftside table th, #leftside table td {
	border: 1px solid black;
	padding: 5px;
}


#leftside table tbody tr:hover {
	background-color: MediumTurquoise;
	cursor: pointer;
}

#leftside #add-from-file-row td {
	padding: 0;
}

#leftside #add-from-file-row:hover {
	background-color: inherit;
}

#leftside .table-separator {
	background-color: gray;
	height: 8px;
}

#add-from-file {
	background: linear-gradient(0deg, gray, darkgray);
	width: 100%;
	border:none;
	/*box-shadow: inset 0 0 12px 2px black;*/
	padding: 15px;
	font-size: 100%;
	font-weight: bold;
}

#add-from-file:hover {
	background: linear-gradient(0deg, FireBrick, red);
	/*background:none;*/
	/*background-color: red;*/
	cursor:pointer;
}

#add-from-file:active {
	background: linear-gradient(0deg, DarkRed, Maroon);
}

#file-open {
	display: none;
}