body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#container {
    background-color: var(--default-background-color);
    width: 95%;
    max-width: 1000px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input, #name-input {
    margin: 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-input label, #name-input label {
    padding-right: 15px;
}

.text-input input, #name-input input {
    flex: 1;
}

.embedded-table {
    width: 90%;
}

.embedded-table td {
    border: 1px solid black;
    text-align: center;
}

.embedded-table td input {
    max-width: 95%;
    box-sizing: border-box;
}