#container {
    background-color: var(--default-background-color);
    width: 95%;
    max-width: 98%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

#reports-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    hyphens: auto;
}

#reports-table thead {
    background-color: var(--table-header-background-color);
    color: white;
}


#reports-table td, #reports-table th {
    border: 1px solid black;
    background-color: transparent;

    text-align: center;
    height: 50px;
}

#reports-table tbody tr:hover {
    background-color: var(--hover-background-color);
    cursor: pointer;
}

#reports-table input {
    width: 90%;
    box-sizing: border-box;
}

#prolog-filter {
    display: flex;
    width: 100%;
}

#prolog-filter input {
    flex: 1;
}



#prolog-filter *:not(:last-child) {
    margin-right: 15px;
}