#container {
    animation: 0.5s ease-out 0s 1 appear;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#template-name {
    font-size: 150%;
}

#items-table {
    width: 90%;
}