body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#container {
    animation: 0.5s ease-out 0s 1 slideUp;
    flex: 1;
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0 0 15px 0px black;
    background-color: var(--default-background-color);

    /*margin-bottom: var(--header-margin);*/

    border-radius: 10px;
}

#container > div, #container > table {
    margin-top: 30px;
    margin-bottom: 30px;
}

.no-elements {
    font-style: italic;
    text-align: center;
    color: var(--no-items-color);
}

#items-table {
    max-width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 3px solid black;

    hyphens: auto;
}

#items-table .table-as-row {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    /*table-layout: fixed;*/
}

#items-table .table-as-row td{
    width: 33.3%;
}

#items-table td, #items-table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#items-table thead {
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
}

#add-new-item, #name-input {
    margin: auto;
    max-width: 95%;
    display: flex;
    justify-content: space-around;
}

#add-new-item *:not(:last-child) {
    margin-right: 15px;
}

#name-input {
    align-items: center;
}

#add-new-item input[type=text] {
    flex: 1;
    max-width: 30%;
}

/*#name-input {
    align-items: center;
}*/

#name-input input[type=text] {
    flex: 1;
}

#name-input label {
    padding-right: 10px;
}

.embedded-table {
    display: table;
    margin: 10px auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

#items-table .embedded-table td {
    padding: 0;
    text-align: center;
}

.embedded-table input[type=text] {
    box-sizing: border-box;
    padding: 0.5em;
    margin: 10px auto;
    max-width: 90%;
}

.embedded-table .add-column, .embedded-table .add-row {
    background-color: LightSlateGray;
}

.embedded-table .add-column {
    width: 50px;
}

.embedded-table .add-row {
    height: 50px;
}

.embedded-table .add-row button {
    /*margin: 10px;*/
}

.temp-data {
    background-color: lightgray;
    color: DimGrey;
    font-style: italic;
}

#items-table .td-with-table {
    padding: 50px 10px;
}

#items-table .prolog-fact-div {
    display: flex;
}

#items-table .prolog-fact-input {
    flex: 1;
    box-sizing: border-box;
}

.embedded-table .add-new-button, .embedded-table .delete-button {
    margin: 10px;
}

/*.embedded-table .remove-button {
    padding: 0;
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.embedded-table .remove-button:hover {
    background-color: darkred;
    cursor:pointer;
}*/

.delete-button {
    visibility: hidden;
}

.embedded-table .delete-button {
    visibility: visible!important;
}

header ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	
}

header li {
	padding: 0;
	margin: 0;
}


header button {
    font: 16pt/24pt sans-serif;
	text-align: center;
	background-color: transparent;
	width: 180px;
	border: none;
	cursor: pointer;
	padding: 15px;
}

header button.selected {
   background-color: #feda6a;
}

header button:hover:not(.selected) {
    /*animation: 0.15s linear 0s 1 hoverTranspGray;*/
    /*background-color: #71b7f0;*/
    background-color: #d4d4dc;
}

.flex-filler:last-child {
    min-height: var(--header-margin)!important;
}

@media (max-width:800px) {
    #add-new-item {
        flex-direction: column;
    }

    #add-new-item input[type=text] {
        max-width: 100%;
    }

    #add-new-item *:not(:last-child) {
        margin-bottom: 15px;
        margin-right: 0;
    }

    }

@media (max-width:400px) {
    #name-input {
        flex-direction: column;
    }
}