#container {
    background-color: var(--default-background-color);
    width: 95%;
    max-width: 98%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

#users-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    hyphens: auto;
}

#users-table thead {
    background-color: var(--table-header-background-color);
    color: white;
}

#users-table td, #users-table th {
    border: 1px solid black;
    background-color: transparent;

    text-align: center;
    height: 50px;
    
    padding: 10px;
}

#users-table tbody tr:hover {
    background-color: var(--hover-background-color);
    cursor: pointer;
}

.td-delete > div {
    display: flex;
    align-items: center;

    visibility: hidden;
}

.td-delete div button:not(.delete-button) {
    min-width: 150px;
    margin-right:10px;
}

.td-delete div button:not(.delete-button):hover {
    background-color: orange;
}

#users-table .delete-button{
    visibility: inherit;
}